.product-page {
  margin: 50px auto;
  width: 50%;
  
  .product-image {
    height: 250px;
    width: 250px;
  }

  .add-to-cart {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    color: white;
    background-color: rgb(224, 48, 77);
    cursor: pointer;
  }
}