{
  "extends": [
    "airbnb",
    "plugin:react/recommended"
  ],
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "mocha": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": "off",
    "react/jsx-filename-extension": "off",
    "import/no-named-as-default": 0,
    "no-shadow": "off",
    "react/self-closing-comp": "off"
  }
}
