@import "variables";

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  * {
    box-sizing: border-box;
  }
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;

  &:active, &:hover {
    outline: 0;
  }
}

textarea {
  overflow: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}


ul {
  padding: 0;
  list-style: none;
}

button, input[type=submit] {
  &:focus {outline:0;}
}
